
:root {
    --nav-height: 60px;
    --nav-z-index: 100;
    --map-z-index: 0;
    --background-color: #303037;
    --background-color-dark:#202027;
    --text-color: #f7f4f1;
    --text-color-red: #e10600;

    /*se usan juntas para simular bandera a cuadros*/
    --checkered-bg: conic-gradient(
        black 0% 25%,
        white 0% 50%,
        black 0% 75%,
        white 0%
    );

    --checkered-size: 0.5em 0.5em;
}

* {
    min-width: 0;
}

body{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-areas:
    "view";
    margin: 0;
}

.hidden{
    display:none;
}

.sentinel{
    height:2px;
    width:2px;
    z-index:10;
    /*background:green;*/   //para control
}

/* view es el contenedor de toda la vista */
#view{
    grid-area:view;
    display: grid;
    /*height: 90vh;  /* si la pagina no requiere scrollear con 90vh se ve bien, header, main y footer */
    height: calc( 100dvh - var(--nav-height));
    width: 100%;
    padding-bottom: var(--nav-height);
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 0;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    /*padding: 20px;*/
    background-color: var(--background-color);
    /*border-radius: 10px;
    margin: 5px;*/
    height: 10vh;
    color: var(--text-color);
}


#header-img{
    height:100%;
    width:auto;
}

nav{
    position: fixed;
    bottom: 0;
    height:var(--nav-height);
    grid-area: nav;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 1px;
    background-color: var(--background-color-dark);
    /*margin: 5px;*/
    z-index: var(--nav-z-index);
}

.navbar-icon-description{
    display:none;
}

.navbar-button{
    background-color: transparent;
    border:none;
}

main{
    grid-area: main;
    display: grid;
    /*place-items: center;*/
    /*padding: 20px;*/
    background-color: var(--text-color-red);
    /*border-radius: 10px;
    margin: 5px;*/
}

footer{
    grid-area: footer;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    /*border-radius: 10px;*/
    /*margin: 5px;*/
}

textarea{
    width: 80%;
    height: 200px;
}

/*
button{
    border-radius: 10px;
    margin:1px;
}*/

.icono{
    width: 3em;
    height: 3em;
}

h3{
    margin: 0;
}

.error{
    display:none;
    color: var(--text-color-red);
}

/* ----------------------------------------------------------- */
/*                           CARDS                             */
/* ----------------------------------------------------------- */

.history-card{
    display:grid;
    grid-template-columns:auto 1fr;
    /*place-items: center;*/
    background-color: var(--text-color);
    border-radius: 10px;
    margin: 0.5em;
    width:100%;
    height:13vh;
}

.history-card img{
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
    place-self:center;
}

.history-card .card-title{
    margin-top: 0.5em;
    margin-bottom:0.25em;
    font-weight:600;
    color: var(--background-color-dark);
    margin-top: 0.5em;
    margin-bottom: 0em;

}

.history-card .card-body{
    display:grid;
    grid-template-rows: auto auto;
    place-items: center start;
    margin-left:1vh;
}

.history-card .card-description{
    margin-top: 0em;
    margin-bottom:0.25em;
}

.favorite-card{
    display:grid;
    grid-template-columns:auto 1fr auto;
    place-items: center;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 10px;
    margin: 1em;
}

.favorite-card img{
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
    place-self:center;
}

.favorite-card .card-title{
    margin-top: 0.5em;
    margin-bottom:0.25em;
}

.favorite-card .card-text{
    margin-top: 0.25em;
    margin-bottom:0.7em;
}

.favorite-card .card-footer{
    display: grid;
    grid-template-rows: auto auto;
}

.favorite-card .card-footer button{
    margin: 1em;
}

.driver-card{
    display:grid;
    grid-template-columns:auto 1fr;
    /*place-items: center;*/
    background-color: var(--text-color);
    border-radius: 10px;
    margin: 0.5em;
}

.driver-card .card-body{
    display:grid;
    grid-template-rows: auto auto auto auto;
    place-items: center start;
}

.card-description{
    font-size: 14px;
    list-style: none;
    padding: 2px;
    font-weight:600;
    color: var(--background-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.driver-card img{
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
    place-self:center;
}

.circuit-card{
    display:grid;
    grid-template-columns:auto 1fr;
    /*place-items: center;*/
    background-color: var(--text-color);
    border-radius: 10px;
    margin: 0.5em;
}

.circuit-card .card-body{
    display:grid;
    /*grid-template-rows: auto auto auto auto;*/
    place-items: center start;
}

.circuit-card img{
    width: 3.5em;
    height: 3.5em;
    padding: 0.5em;
    place-self:center;
}

.card-img-icon{
    margin-left: 1em;
}

/* ----------------------------------------------------------- */
/*                    Vista de Busqueda                        */
/* ----------------------------------------------------------- */

.search-form{
    width:90%;
    display:grid;
    grid-template-rows: auto auto auto 1fr;
    place-items:center;
    gap:1em;
}

.input-search{
    border-radius:10px;
    height: 2em;
}

.radio-container{
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    place-items:center;
}

.radio-description{
    padding-right:0.5em;
    color: var(--text-color);
}

input[type="radio"] {
    display: none;
}

label {
    /*padding: 10px 16px;*/
    /*border: 1px solid gray;*/
    /*border-radius: 20px;*/
    cursor: pointer;
    font-weight:bold;
    color:var(--text-color);
}

input[type="radio"]:checked + label {
    color: var(--text-color-red);
    text-shadow: 0 0 8px rgba(225, 6, 0, 0.7);
}

.select-container{
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
    place-items:center;
}

.select-description{
    padding-right:0.5em;
    font-weight:normal;
}

.select-box{
    border-radius:10px;
    height:2em;
}

/* ----------------------------------------------------------- */
/*                    Vista de Historial                        */
/* ----------------------------------------------------------- */

#history-container{
    display:grid;
    place-items:center;
    background:var(--background-color);
    margin-top:0.25em;
}

#history-card-container{
    display:grid;
    place-items:center;
    width:80%;
}

#history-no-data{
    color: var(--text-color);
    font-size:20px;
    font-weight:600;
}

/* ----------------------------------------------------------- */
/*                      Vista de Favoritos                     */
/* ----------------------------------------------------------- */

#favorite-container{
    display:grid;
    place-items:center;
    background:var(--background-color);
    margin-top:0.25em;
}

#favorite-card-container{
    display:grid;
    place-items:center;
    /*background: var(--background-color);*/
    /*margin-top:0.25em;*/
    /*color: var(--text-color);
    padding-top:10vh;
    padding-bottom:10vh;*/
}

#favorite-no-data{
    color: var(--text-color);
    font-size:20px;
    font-weight:600;
}

.favorite-remove-icon{
    width:3em;
    height:3em;
}

.favorite-card .card-footer button{
    border:none;
}

/* ----------------------------------------------------------- */
/*                    Vista de Contacto                        */
/* ----------------------------------------------------------- */


#location-container{
    display:grid;
    grid-template-rows: auto auto auto;
    place-items:center;
    background: var(--background-color);
    color: var(--text-color);
    margin-top:0.25em;
}

#map{
    height: 30vh;
    width: 90%;
    margin-top:4em;
    border-radius: 10px;
    z-index:var(--map-z-index);
}

#datosDeContacto{
    font-size: 14px;
    list-style: none;
    padding: 2px;
    margin-bottom: 3em;
}

li{
    margin-bottom:0.25em;
}

/* ----------------------------------------------------------- */
/*                    Vista de Detalles                        */
/* ----------------------------------------------------------- */

#detail-container{
    display:grid;
    grid-template-rows: auto auto 1fr;
    place-items:center;
    background: var(--background-color);
    margin-top:0.25em;
    color: var(--text-color);
}

#detail-header{
    display:grid;
    grid-template-columns: auto auto;
    place-items:center;
    margin-top:1em;
    margin-bottom:1em;
    width:90%;
}

#detail-img-container{
    margin-top:1em;
    margin-bottom:1em;
}

#detail-img{
    width:15vh;
    height:auto;
    border-radius:10px;
}

#favorite-btn{
    background:transparent;
    border:none;
    width:3em;
    height:auto;
}

#detail-text{
    width:90%;
    font-size:15px;
}


/* ----------------------------------------------------------- */
/*                      Vista de Home                          */
/* ----------------------------------------------------------- */

#home-container{
    display:grid;
    grid-template-rows: auto auto auto;
    place-items:center;
    background: var(--background-color);
    margin-top:0.25em;
    color: var(--text-color);
    padding-top:10vh;
    padding-bottom:10vh;
}

.home-team-button{
    border-radius:50%;
    background: var(--background-color-dark);
    border:none;
}

.home-img-team-icon{
    
}


/* ----------------------------------------------------------- */
/*                      Vista de Escuderias                    */
/* ----------------------------------------------------------- */

#team-container{
    display:grid;
    place-items:center;
    background: var(--background-color);
    margin-top:0.25em;
    color: var(--text-color);
    padding-top:2vh;
    padding-bottom:2vh;
}

#team-car-img{
    width:95%;
    height:auto;
}

/* ----------------------------------------------------------- */
/*                          ACCORDION                          */
/* ----------------------------------------------------------- */

#accordion-container{
    background: var(--background-color);
    width:100%;
    margin-top:0.25em;
    padding-top:10px;
}

.accordion {
    width: 95%;
    /*max-width: 600px;*/
    margin: auto;
    font-family: Arial, sans-serif;
}

/*
.accordion-item {
    border-bottom: 1px solid #888;
}*/

/* HEADER */
.accordion-item-header {
    width: 100%;
    padding: 15px;
    background: var(--background-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: background 0.3s ease;
}

/*
.accordion-item-header:hover {
    background: #687d91;
}*/

/* ICONO */
.accordion-icon {
    transition: transform 0.3s ease;
}

/* ROTACIÓN */
.accordion-item.active .accordion-icon {
    transform: rotate(180deg);
}

/* BODY */
.accordion-collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 0 15px;
    
}

.accordion-item-body{
    width:100%;
    display:grid;
    grid-template-rows: auto auto 1fr;
    place-items:center;
    margin-top:1.5em;
    margin-bottom:1.5em;
}

.input-search{
    width:75%;
}

/* ----------------------------------------------------------- */
/*                            MODAL                            */
/* ----------------------------------------------------------- */

#modal-container{
    position: fixed;
    inset: 0;      /* para que ocupe toda la pantalla (para que el backdrop ocupe toda la pantalla)*/
    z-index: 100;
    pointer-events: none;
}

.backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;
}

.modal {
    background: var(--background-color);
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: scaleIn 0.2s ease;
}

#modal-add-favorite{
    display:grid;
    place-items:center;
    grid-template-rows: 1fr auto;
    margin-left: 3dvh;
    margin-right: 3dvh;
    font-family: Arial, sans-serif;
}

#favoritos-form{
    margin-top:1em;
}

#favoritos-form-header{
    display:grid;
    place-items:center;
    width:100%;
}

legend{
    cursor: pointer;
    font-weight:bold;
    color:var(--text-color);
}

hr{
    width:100%;
}

#priority-container{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#motivo-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items:center;
    gap: 0.5em;
    align-items: center;
}

#comentario-container{
    display:grid;
    place-items:center;
    width: 100%;
    gap: 0.5em;
}

#favoritos-comentario{
    border-radius:10px;
    height:20dvh;
}

.radio-priority{
    color: var(--text-color);
    font-weight:bold;
}

.radio-motivo{
    color: var(--text-color);
    grid-column: 1 / -1; /* ocupa todo el ancho */
    font-weight:bold;
}

.input-form{
    width: 95%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    place-items: center;
    gap: 2em;
}


.modal input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.modal .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */


@media (min-width: 667px){  /*Para iPhone SE en horizontal*/
    #view{
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
        height:100vh;
    }
    
    body{
        grid-template-rows:auto 1fr;
        grid-template-areas:
        "nav"
        "view";
    }
}

@media (min-width: 768px){
    .navbar-icon-description{
        display: block;
    }
}