
:root {
  --nav-height: 60px;
}

* {
  min-width: 0;
}

body{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-areas:
    "view";
}

/* view es el contenedor de toda la vista */
#view{
    grid-area:view;
    display: grid;
    height: 100vh;
    width: 100%;
    padding-bottom: var(--nav-height);
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 0;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    grid-area: header;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    margin: 5px;
    height: 10vh;
}

nav{
    position: fixed;
    bottom: 0;
    height:var(--nav-height);
    grid-area: nav;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 1px;
    background-color: greenyellow;
    margin: 5px;
}

main{
    grid-area: main;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: cyan;
    border-radius: 10px;
    margin: 5px;
}

footer{
    grid-area: footer;
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: purple;
    border-radius: 10px;
    margin: 5px;
}

textarea{
    width: 80%;
    height: 200px;
}

button{
    border-radius: 10px;
    margin:1px;
}

.icono{
    width: 3em;
    height: 3em;
}

span{
    display:none;
}

#map{
    height: 20vh;
    width: 80%;
    border-radius: 10px;
}

@media (min-width: 667px){  /*Para iPhone SE en horizontal*/
    #view{
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    
    body{
        grid-template-rows:auto 1fr;
        grid-template-areas:
        "nav"
        "view";
    }
}

@media (min-width: 768px){
    span{
        display: block;
    }
}